@charset"utf-8";
/* Стили страницы ошибки 404 */
.wrapper {
	float: none;
	width: 630px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
section {
	margin: 17% 0 0;
	text-align: center;
}
h1 {
	text-align: center;
	line-height: 70px;
	margin: 0 0 60px;
	font-size: 90px;
	color: #fefefe;
	text-shadow: #fff 0 0 1px, #eee 0 4px 3px, #ddd 0 9px 3px, #ccc 0 12px 1px, rgba(0, 0, 0, 0.2) 0 14px 3px, rgba(0, 0, 0, 0.1) 0 20px 10px, rgba(0, 0, 100, 0.2) 0 15px 80px;
}